# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Compiled binary
build/Release

# Dependency directory
node_modules

# Assets directory
Public/Lib

.gitignore
/.vscode