<div class="authentication blurring ui grid" ng-show="!Authentication">
	<div class="ui modal fullscreen">
		<div class="content">
			<div class="ui grid">
				<div class="right floated left aligned six wide column">
					<div class="ui attached segment">
						<form class="ui form">
							<div class="field">
								<label>Nome</label>
								<div class="two fields">
									<div class="field">
										<div class="ui icon input">
											<input type="text" placeholder="Primeiro Nome" id="PrimeiroNome" name="PrimeiroNome" ng-model="Credenciais.PrimeiroNome">
											<i class="protect icon"></i>
										</div>
									</div>
									<div class="field">
										<div class="ui icon input">
											<input type="text" placeholder="Último Nome" id="UltimoNome" name="UltimoNome" ng-model="Credenciais.UltimoNome">
											<i class="protect icon"></i>
										</div>
									</div>
								</div>
							</div>
						
							<div class="sixteen wide field">
								<label>Email</label>
								<div class="ui icon input">
									<input type="text" placeholder="Email" id="Email" name="Email" ng-model="Credenciais.Email">
									<i class="at icon"></i>
								</div>
							</div>
							
							<div class="three fields">
								<div class="field">
									<label>Usuário</label>
									<div class="ui icon input">
										<input type="text" placeholder="Usuário" id="NomeDeUsuario" name="NomeDeUsuario" ng-model="Credenciais.NomeDeUsuario">
										<i class="user icon"></i>
									</div>
								</div>
								<div class="field">
									<label>Senha</label>
									<div class="ui icon input">
										<input type="password" placeholder="Senha" id="Senha" name="Senha" ng-model="Credenciais.Senha">
										<i class="lock icon"></i>
									</div>
								</div>
								<div class="field">
									<label>Confirme a Senha</label>
									<div class="ui icon input">
										<input type="password" placeholder="Confirmação de Senha" id="ConfirmacaoDeSenha" name="ConfirmacaoDeSenha" ng-model="Credenciais.ConfirmacaoDeSenha">
										<i class="lock icon"></i>
									</div>
								</div>
							</div>
							
							<div class="nine wide field">
								<label>Categoria</label>
								<div class="ui input">
									<select class="ui dropdown" ng-model="Credenciais.CategoriaDeUsuario" id="CategoriaDeUsuario" name="Categoria">
											<option value="">Selecione uma categoria</option>
											<option ng-repeat="categoria in CategoriasDeUsuarios" value="{{ categoria._id }}">{{ categoria.Nome }}</option>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="ui clearing attached secondary segment">
						<div class="ui right floated small teal labeled icon button" ng-click="Signup()">
							<i class="save icon"></i> Salvar
						</div>
						<div class="ui right floated small red labeled icon button">
							<i class="cancel icon"></i> Cancelar
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>