<div ng-class="Size()">
  <div class="ui fluid vertical inverted menu bg-wet-asphalt">
        <div class="header item bg-midnight-blue">			
          <h2 class="ui header align center">
            F.TRPORT
          </h2>
        </div>
        <div class="item profile">
          <div class="ui card">
            <div class="image">
              <img src="http://semantic-ui.com/images/avatar2/large/matthew.png">
            </div>
            <div class="content">
              <div class="header">{{ Authentication.NomeCompleto }}</div>
              <div class="meta">
                <a>{{ Authentication.CategoriaDeUsuario[0] }}</a>
              </div>
            </div>
            <div class="extra content">
              <div class="ui teal label">
                Passageiros
                <div class="detail">27</div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="three ui icon buttons">
          <button class="massive ui button bg-thousand-herb">
            <i class="home icon"></i>
          </button>
          <button class="massive ui button bg-thousand-herb">
            <i class="lab icon"></i>
          </button>
          <button class="massive ui button bg-thousand-herb">
            <i class="power icon"></i>
          </button>
        </div>
        
        <div class="ui styled fluid accordion bg-midnight-blue">
          <div class="active title">
            <i class="dropdown icon"></i>
            Resumo
          </div>
          <div class="active content bg-wet-asphalt">
            <div class="ui tiny progress orange">
              <div class="bar"></div>
              <div class="label">Manhã</div>
            </div>
            <div class="ui tiny progress blue">
              <div class="bar"></div>
              <div class="label">Tarde</div>
            </div>          
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            Configurações
          </div>
          <div class="content bg-wet-asphalt">
            <div class="ui tiny progress orange">
              <div class="bar"></div>
              <div class="label">Manhã</div>
            </div>
            <div class="ui tiny progress blue">
              <div class="bar"></div>
              <div class="label">Tarde</div>
            </div>          
          </div>        
        </div>      
    </div>
</div>    