<div ng-class="[Size(), 'wide', 'column']">
  <div class="ui fluid vertical inverted menu">
      <div class="menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Pesquisar" />
            <i class="search icon"></i>
          </div>
        </div>
        <div class="header item">Análise</div>
        <a class="item" href="/#!/Dashboard"><i class="area chart icon"></i><span>Dashboard</span></a>
        <a class="item" href="/#!/Relatorios"><i class="calculator icon"></i><span>Relatórios</span></a>
        <a class="item" href="/#!/Historico"><i class="history icon"></i><span>Histórico</span></a>
        <div class="header item">Gerenciamento</div>
        <a class="item" href="/#!/Escolas"><i class="university icon"></i><span>Escolas</span></a>
        <a class="item" href="/#!/Passageiros"><i class="users icon"></i> <span>Passageiros</span></a>
        <a class="item" href="/#!/CalculoDeRotas"><i class="marker icon"></i> <span>Cálculo de Rotas</span></a>
        <a class="item" href="/#!/Veiculo"><i class="car icon"></i><span>Veículo</span></a>
        <div class="header item">Configurações</div>
        <a class="item" href="/#!/Opcoes"><i class="options icon"></i><span>Opções</span></a>
        <a class="item" href="/#!/Usuario/Preferencias"><i class="idea icon"></i><span>Preferencias</span></a>
        <a class="item" href="/#!/Perfil"><i class="child icon"></i><span>Perfil</span></a>
        <a class="item" href="/#!/Mensagens"><i class="comment outline icon"></i><span>Mensagens</span></a>
        <a class="item" href="/#!/Usuario/Logout"><i class="power icon"></i><span>Sair</span></a>
  </div>
</div>