<div ng-class="Size()">
  <div class="ui fluid vertical inverted menu" ng-class="{ 'visibility-off': !Menu.GetMenuState() }">
      <div class="menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Pesquisar" />
            <i class="search icon"></i>
          </div>
        </div>
        <a ng-class="{ 'header': Item.Tipo === 'header', 'popup': Item.Tipo === 'item' }" class="item" ng-repeat="Item in Itens" ng-href="{{ Item.Link }}" data-content="{{ Item.Titulo }}" data-position="right center" data-variation="inverted">
          <div ng-if="Item.Tipo === 'header'">{{ Item.Titulo }}</div>
          <i class="{{ Item.Icon }} icon" ng-if="Item.Tipo === 'item'"></i> <span ng-if="Item.Tipo === 'item'">{{ Item.Titulo }}</span>
        </a>
  </div>
</div>