<div class="ui container basic segment" ng-controller="HomePassageiroClientController">
    <a class="ui icon red button right floated" href="/#!/Passageiros/Cadastrar">
        NOVO
        <i class="plus icon"></i>
    </a>
    
    <table class="ui grey table" ng-table="Grid.TableParams">
        <tr ng-repeat="passageiro in $data">
            <td data-title="'Nome'">{{ passageiro.PrimeiroNome + ' ' + passageiro.UltimoNome }}</td>
            <td data-title="'Data de Nascimento'">{{ passageiro.DataDeNascimento | date }}</td>
            <td data-title="'Inscrição'">{{ passageiro.DataDeInscricao | date }}</td>
        </tr>
    </table>
</div>